:global(.ui) {
  .comment {
    overflow: auto;
    min-height: 115px;
  }
  .status {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
    opacity: 0.4 !important;
  }
  .popup {
    opacity: 1;
    padding: 0.8em;
    z-index: 9999;
  }
}

.toolbarBtn {
  border: none !important;
  padding: 0.3em;
  margin: 0;
}

.popupWrapper {
  width: 15px;
  height: 21px;
}

.digitWrapper {
  padding: 0.3em;
  font-size: 0.8em;
  font-weight: 700;
  opacity: 1;
}
