:global(.ui.basic.label).toolbarBtn {
  border: none;
  padding: 0.3em;
  margin: 0;
}
.popupWrapper {
  width: 15px;
  height: 21px;
  display: block;
}

.popup {
  opacity: 1;
  padding: 0.8em;
  z-index: 9999;
}

.digitWrapper {
  padding: 0.3em;
  font-size: 0.8em;
  font-weight: 700;
  opacity: 1;
}

.cardFooter {
  display: flex;
  align-items: center;
}
